
<% layout('layouts/boilerplate')%>
    <div class="container d-flex justify-content-center align-items-center mt-5">
        <div class="row">
            <h1 class="text-center">New Mentor</h1>
            <div class="col-md-12 offset-md-2 col-xl-10 offset-xl-1">
                
        <form action="/<%=currentUser._id%>/admin/mentor/new" method="post" novalidate class="validated-form" enctype="multipart/form-data">
            <!--name-->
            <div class="mb-3">
                <label class="form-label" for="name">Name</label>
                <input class="form-control" type="text" id="name" name="academicmentor[name]" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <!--degree-->
            <div class="mb-3">
                <label class="form-label" for="degree">Degree</label>
                <input class="form-control" type="text" id="degree" name="academicmentor[degree]">
                <div class="valid-feedback">
                    Looks good!
                  </div>
            </div>

            <!-- types of mentor -->
            <div class="mb-3">
                <label class="form-label" for="type">Mentor Type</label>
                <select class="form-select form-control" aria-label="Default select example" id="type" name="academicmentor[type]"required>

                    <option value="academic">Academic</option>
                    <option value="industry">Industry</option>
                    <option value="peer">Peer</option>
                </select>
                
                <div class="valid-feedback">
                    Looks good!
                  </div>
            </div>
            <!--image-->
         
            <div class="mb-3">
                <div class="custom-file">
                    <label for="">Upload Image of mentor</label>
                    <input type="file" class="form-control" id="image" name="image" multiple required>
                    <label class="form-label" for="image">
                        <span class="form-text custom-file-label">Choose image...</span>
                       
                    </label>
                </div>
            </div>
           
        
            <!--profession-->
         
            <div class="mb-3">
                <label class="form-label" for="profession">Profession</label>
                <input class="form-control" type="profession" id="profession" name="academicmentor[profession]" required>
                <div class="valid-feedback">
                    Looks good!
                  </div>
            </div>

              <!--department-->
         
              <div class="mb-3">
                <label class="form-label" for="department">Department</label>
                <input class="form-control" type="department" id="department" name="academicmentor[department]" required>
                <div class="valid-feedback">
                    Looks good!
                  </div>
            </div>
         
            <div class="btn-group" aria-label="First group">
                <button class="btn btn-info">Add Mentor</button>
                
            </div>
            <div class="btn-group"  aria-label="Second group">
                <a class="btn btn-success" href="/<%=currentUser._id%>/admin/mentor">Back to Mentor</a>
            </div>
        </form>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"
integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous">
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js"
integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous">
</script>
<script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.js"></script>
    <script type="text/javascript" src="/js/validateForm.js"></script>


    