<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" href="./images/fav.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.css" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOW IT WORKS</title>
    <link rel="stylesheet" href="./css/style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="/js/script_how_it_works.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>

    <meta property="title" content="IMERXN - Curated immersive learning"/>
    <meta name="description" content="Curated immersive learning to explore career choices through never before experiences" />
    <meta property="og:description" content="Curated immersive learning to explore career choices through never before experiences" />
    <meta property="og:url" content="https://imerxn.com/"/>
    <meta property="og:image" content="https://imerxn.vercel.app/images/logo.png"/>
    <link rel="icon" type="image/x-icon" href="./logo.png">
</head>
<body onload="mainfunc()">
    <header class="nav-wrapper">
        <a href="#">
            <img src="./images/logo.png" alt="IMERXN" class="logo" />
        </a>
        <div class="top" id="hamburger">
			<a href="#" class="menu_icon"><i class="material-icons">dehaze</i></a>
		</div>
        <nav class="menu">
            <a class="item_menu"><img src="./images/logo.png" alt="IMERXN" id="crosslogo" /><span id="cross">❌</span></a>
        <br><br><a href="/" class="item_menu" style="color: #222968;">Home</a>
		<a href="program" class="item_menu" style="color: #222968;">Programs</a>
		<a href="how_it_works" class="item_menu" style="color: #222968;">How it works</a>
        <a href="mentor" class="item_menu" style="color: #222968;">Mentors</a>
        <a href="partner" class="item_menu" style="color: #222968;">Partners</a>
        <a href="https://form.jotform.com/221981895480064" class="item_menu" style="color: #222968;">Signup</a>
        </nav>
        <nav class="center-menu" id="mobilelist">
            <ul class="center-menu-items">
                <li><a href="/" style="color: #222968;">Home</a></li>
                <li><a href="program" style="color: #222968;">Programs</a></li>
                <li><a href="how_it_works" style="color: #222968;">How it works</a></li>
                <li><a href="mentor" style="color: #222968;">Mentors</a></li>
                <li><a href="partner" style="color: #222968;">Partners</a></li>
                <li><a href="https://form.jotform.com/221981895480064" style="color: #222968;">Signup</a></li>
            </ul>
        </nav>
    </header>
    <section class="section5" id="section5">
        <h1 id="section5heading"><span id="howdoes">How does</span> <span id="imerxnwork">IMERXN work</span></h1>
        <div class="section5maincontent">
            <br>
            <p><b id="mode">Mode</b>
            <br>Students can participate in these programs either virtually or physically depending on the format of the program.
            <br><br>
            <b id="duration">Duration</b>
            <br>Every program is curated so each student gets the benefit of a highly personalised program structured based on individual needs and varied duration of 2-6 months depending on the program design.<br>
            <br><b id="experience">Experience</b>
            <br>The IMERXN team curates customized and great collective experiences by enabling collaborative communication between mentors, students and partners.</p>
        </div>
        <img src="./images/roadmap_webpage.png" id="section5image">
        <img src="./images/mobile.png" id="s5img">
    </section>
</body>
</html>