<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" href="./images/fav.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.css" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IMERXN-Curated immersive learning</title>
    <link rel="stylesheet" href="./css/style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="/js/script_index.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>

    <meta property="title" content="IMERXN - Curated immersive learning"/>
    <meta name="description" content="Curated immersive learning to explore career choices through never before experiences" />
    <meta property="og:description" content="Curated immersive learning to explore career choices through never before experiences" />
    <meta property="og:url" content="https://imerxn.com/"/>
    <meta property="og:image" content="https://imerxn.vercel.app/images/logo.png"/>
    <link rel="icon" type="image/x-icon" href="./logo.png">
</head>
<body onload="mainfunc()">
    <header class="nav-wrapper">
        <a href="#">
            <img src="./images/logo.png" alt="IMERXN" class="logo" />
        </a>
        <div class="top" id="hamburger">
			<a href="#" class="menu_icon"><i class="material-icons">dehaze</i></a>
		</div>
        <nav class="menu">
            <a class="item_menu"><img src="./images/logo.png" alt="IMERXN" id="crosslogo" /><span id="cross">❌</span></a>
        <br><br><a href="/" class="item_menu" style="color: #222968;">Home</a>
		<a href="program" class="item_menu" style="color: #222968;">Programs</a>
		<a href="how_it_works" class="item_menu" style="color: #222968;">How it works</a>
        <a href="mentor" class="item_menu" style="color: #222968;">Mentors</a>
        <a href="partner" class="item_menu" style="color: #222968;">Partners</a>
        <a href="https://form.jotform.com/221981895480064" class="item_menu" style="color: #222968;">Signup</a>
        </nav>
        <nav class="center-menu" id="mobilelist">
            <ul class="center-menu-items">
                <li><a href="/" style="color: #222968;">Home</a></li>
                <li><a href="program" style="color: #222968;">Programs</a></li>
                <li><a href="how_it_works" style="color: #222968;">How it works</a></li>
                <li><a href="mentor" style="color: #222968;">Mentors</a></li>
                <li><a href="partner" style="color: #222968;">Partners</a></li>
                <li><a href="https://form.jotform.com/221981895480064" style="color: #222968;">Signup</a></li>
            </ul>
        </nav>
    </header>
    <section class="section1" id="section1">
        <p id="contentsection1">Curated immersive learning <br><span id="s1content">to explore career choices through</span> 
            <br><span id="spancontentsection1"></span><br><button id="landingbtn"><a href="https://form.jotform.com/221981895480064" target="_blank" style="color: #222968;">Signup</a></button></p>
    </section>
    <section class="section2">
        <div class="contentani">
            <h1 id="sectionheadings2" class="whatisimerxn oneimerxn"><span class="spansection2heading">What is</span> IMERXN</h1>
            <h1 id="sectionheadings2" class="whatisimerxn twoimerxn"><span class="spansection2heading">What is</span> IMERXN</h1>
        </div>
        <div class="section2content">
            <p id="section2maincontent"> <b id="s2resource">A resource platform that enables real-world experiences to support high school and college students to become career aware and career ready. </b><br><br>
                We ensure you make the right career choices while building relevant skills through applied learning in professional environments and community settings. These experiences allow you to gain practical skills in the field of study that you are exploring as a future career option.  Our programs are a great booster to your profile, adding value to your resume and helping you stand out in a crowd. 
                <br>
            </p>
        </div>
    </section>
    <section class="section4">
        <h1 id="sectionheading" class="s4heading"><span id="spansection4heading"><span id="explore">Explore </span>Career Paths</span><br><span id="animation"></span></h1>
        <div class="gridcontainersection4">
            <div class="grid-itemsection4">
                <strong><img src="./images/button.png" class="s4btn"> Bridge to your career goals</strong>
            </div>
            <div class="grid-itemsection4">
                <strong><img src="./images/button.png" class="s4btn">  Enhance skills of tomorrow</strong>
            </div>
            <div class="grid-itemsection4">
                <strong><img src="./images/button.png" class="s4btn">  Informed career choices</strong>
            </div>
            <div class="grid-itemsection4">
                <strong><img src="./images/button.png" class="s4btn">  Portal to global experience</strong>
            </div>
            <div class="grid-itemsection4">
                <strong><img src="./images/button.png" class="s4btn">  Sustained interest in a career path</strong>
            </div>
            <div class="grid-itemsection4">
                <strong><img src="./images/button.png" class="s4btn">  International certification</strong>
            </div>
        </div>
    </section>
    <!------------------------------------- Testimonials Section ---------------------------------->
    <section class="section9">
        <h1 class="s9heading animate-charcter">Testimonials</h1>
        <div class="arrow">
            <div class="grids9" id="s9scroll">
                <div class="s9card">
                    <img src="./images/Testimonials/Lakshan Veer Abimanyu .jpg" id="client1img">
        <p id="s9content">The <b>Young Innovators program</b> facilitated by Mr. Vinod Shastri has had a bigger impact than I thought it would on my journey to become an aspiring entrepreneur. At first, I thought it was going to be a really professional and hard-to-understand program as it was run by a renowned professor in one of the largest universities in the country, but the very first session of the program proved me wrong. After only a handful of meetings with my mentor,I have learned much more compared to all the other entrepreneurship courses I have participated in.<p id="name"><span id="s9spanname">Lakshan Veer </span>Abimanyu</p>
        </div>
        <div class="s9card">
            <img src="./images/Testimonials/Srinidhi Raman.JPG" id="client1img">
        <p id="s9content">In this <b>internship</b>, I dove deeper into an aspect of psychology that I really found an interest in: emotions. Emotional psychology was a very intriguing topic to me, and I wanted to further explore it outside the class I took at school. IMERXN was the perfect place to do that. I did research at a mental health clinic on emotions and the link to thoughts and behavior. I’ve always wanted to study psychology, but I had never picked an aspect of it to focus on. After this internship, I realized that I can pursue a career Emotional psychology.
            <p id="name"><span id="s9spanname">Srinidhi </span>Raman</p>
        </div>
        <div class="s9card">
            <img src="./images/Testimonials/Shreya Mittal.jpg" id="client1img">
        <p id="s9content">The <b>IMERXN Biotech research program </b>was extremely helpful! Especially because I’m particularly interested in Biotechnology and genetic engineering and these research projects helped me understand different fields I could potentially pursue for post graduation and a career in research thereafter.
            <p id="name"><span id="s9spanname">Shreya </span>Mittal</p>
        </div>
        <div class="s9card">
                    <img src="./images/Testimonials/Sanika.jpg" id="client1img">
        <p id="s9content">The <b>IMERXN program </b>was really helpful and allowed me to gain a better understanding as to how physics is integrated with biochemistry. Also the practical experiences and possible challenges that comes with undergrad and postgrad in medical associated fields.
            <p id="name"><span id="s9spanname">Sanika </span>Parandekar</p>
        </div>

        <div class="s9card">
                    <img src="./images/Testimonials/Ishaan Varior.jpg" id="client1img">
        <p id="s9content">The<b> peer mentor interaction </b>session was surprisingly useful for someone who does not want to pursue the same field exactly;I found it useful for sciences and understanding  various options available for me. An extremely insightful session!
            <p id="name"><span id="s9spanname">Ishaan</span> Varior</p>
        </div>
        
        

        <!-- <div class="s9card">
            <img src="./Img/Testimonials/Srinidhi Raman.JPG" id="client1img">
        <p id="s9content">In this internship, I dove deeper into an aspect of psychology that I really found an interest in: emotions. Emotional psychology was a very intriguing topic to me, and I wanted to further explore it outside the class I took at school. IMERXN was the perfect place to do that. I did research at a mental health clinic on emotions and the link to thoughts and behavior. I’ve always wanted to study psychology, but I had never picked an aspect of it to focus on. After this internship, I realized that I can pursue a career Emotional psychology.
            <p id="name"><span id="s9spanname">Srinidhi </span>Raman</p>
        </div> -->

        </div>
        <div class="listing-carousel-button listing-carousel-button-next" id="left4">
                <i class="fa fa-caret-right"></i>
              </div>
              <div class="listing-carousel-button listing-carousel-button-prev" id="right4">
                <i class="fa fa-caret-left"></i>
              </div>
        </div>


        <h1 id="sectionheading">Academic Partner</h1>
        <img src="./images/educationalpartners/img3.png" id="edupartner">
        <img src="./images/educationalpartners/mobile partner.png" id="mobileedu">
        <h1 id="sectionheading">Knowledge Partners</h1>
        <div class="grids9container">
            <div class="s9item">
                <img src="./images/PartnerLogos/teenr.png" class="s9img">
            </div>
            <div class="s9item">
                <img src="./images/PartnerLogos/milan.png" class="s9img">
            </div>
            <div class="s9item">
                <img src="./images/PartnerLogos/future.png" class="s9img">
            </div>
            <div class="s9item">
                <img src="./images/PartnerLogos/theia.png" class="s9img">
            </div>
            <div class="s9item">
                <img src="./images/PartnerLogos/Picture2.png" class="s9img">
            </div>
            <div class="s9item">
                <img src="./images/PartnerLogos/Picture3.png" class="s9img">
            </div>
            <div class="s9item">
                <img src="./images/PartnerLogos/Picture4.png" class="s9img">
            </div>
            <div class="s9item">
                <img src="./images/PartnerLogos/Picture5.png" class="s9img">
            </div>
            <div class="s9item">
                <img src="./images/PartnerLogos/Bodhami.png" class="s9img">
            </div>
            <div class="s9item">
                <img src="./images/PartnerLogos/Picture7.png" class="s9img" id="logo10">
            </div>
        </div>
    </section>
    <section class="section10" id="section10">
            <div class="list">
                    <ul>
                        <li><a href="" style="color: rgb(241,241,241,241);">Home</a></li>
                        <li><a href="program" style="color: rgb(241,241,241,241);">Programs</a></li>
                        <li><a href="how_it_works" style="color: rgb(241,241,241,241);">How it works</a></li>
                        <li><a href="mentor" style="color: rgb(241,241,241,241);">Mentors</a></li>
                        <li><a href="partner" style="color: rgb(241,241,241,241);">Partners</a></li>
                        <li><a href="https://form.jotform.com/221981895480064" style="color: rgb(241,241,241,241);">Signup</a></li>
                    </ul>
            </div>
        <p id="abtcontent"><b id="aboutus">About Us</b><br>We take pride in integrating classroom knowledge and real-world application to help students acquire a variety of skills through opportunities not easily available  in the academic environment.
            Whether it is helping students explore the right career path or guiding them through projects and deeper interactions on specific topics, our team is always cognizant of every program’s quality led by the goal to create the best learning environment for the students. 
            </p>
        <p id="copyright">© 2021 Copyright Protected | IMERXN Ltd.</p>
    </section>
    </body>
</html>

    
</body>
</html>